html, body {
    height: 100%;
}

.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    right: 0;
    background-color: #fbf39d;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 0px;
}

.user-info {
    background-color: #fff;
    background-image: url("../assets/sidebar-bg.jpg");
    background-size: cover;
    background-position: center;
    padding: 5px;
}

.sidenav h1 {
    font-family: 'Archivo Black', sans-serif;
    padding: 8px 8px 8px 32px; 
    width: 75%;
}

.sidenav p {
    padding: 8px 8px 8px 32px;
}
  
.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    color: #212529;
    display: block;
    transition: all 50ms ease-in-out;
    font-family: 'Archivo Black', sans-serif;
    width: 100%;
    white-space: nowrap;
}

.sidenav a:hover {
    background-color: #ff3f9b;
    color: #fff;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 0;
    background-color: transparent;
    padding: 20px;
    border: none;
    text-align: right!important;
}

.closebtn:hover {
    background-color: transparent!important;
    color: #ff3f9b!important;
}

.profile-img-nav {
    height: 75px;
    padding: 8px 8px 8px 32px;
}

.content {
    transition: opacity .5s;
    background-image: url(../assets/index-bg.jpg);
    background-size: cover;
    background-position: center;
    height: 100%;
}

#content {
    transition: margin-right .5s;
}


.navbar {
    background-color: #ff3f9b;
    color: black;
}

.navbar-brand {
    font-family: 'Archivo Black', sans-serif;
}

.nav-link {
    font-family: 'Archivo Black', sans-serif;
    color: #212529!important;
}

.nav-item {
    border: 3px solid transparent;
    box-sizing: border-box;
    -webkit-transition: all 200ms ease-in-out;
    -moz-transition: all 200ms ease-in-out;
    -o-transition: all 200ms ease-in-out;
    transition: all 200ms ease-in-out;
}

.nav-item:hover {
    text-shadow: -1px 1px #fff;

}

.dropdown-menu a {
    font-family: 'Archivo Black', sans-serif;
}

.wrapper {
    padding-top: 16rem!important;
}

.wrapper h1 {
    width: 50%;
    text-align: left;
    font-size: 62px;
    font-family: 'Archivo Black', sans-serif;
    text-shadow: -4px 4px #fff;
}

.btn-signup {
    background-color: #ff3f9b;
    color: #fff;
    font-family: 'Archivo Black', sans-serif;
    font-size: 20px;
    margin-top: 20px;
    padding: 10px;
    width: 25%;
}

.btn-signup:hover {
    box-shadow: -5px 5px #fff;
    color: #fff;
}


@media (max-width: 575.98px) {
    .wrapper {
        padding-top: 13rem!important;
    }
    .content {
        background-image: url("../assets/login-bg-mb.jpg");
        background-size: cover;
    }

    .wrapper h1 {
        font-size: 50px;
        text-align: center;
        width: 100%;
    }

    .btn-signup {
        width: 100%;
    }
}
@media (max-width: 767.98px) {

}

@media (max-width: 991.98px) {

}

@media (max-width: 1199.98px) {

}