html, body {
    height: 100%;
}

.navbar {
    background-color: #ff3f9b;
    color: black;
}

.navbar-brand {
    font-family: 'Archivo Black', sans-serif;
}

.nav-link {
    font-family: 'Archivo Black', sans-serif;
    color: #212529!important;
}

.nav-item {
    border: 3px solid transparent;
    box-sizing: border-box;
}

.nav-item:hover {
    border: 3px solid #fff;
    border-radius: 10px;

}

.dropdown-menu a {
    font-family: 'Archivo Black', sans-serif;
}


#welcome-card {
    background-image: url(../assets/index-bg.jpg);
    background-size: cover;
    background-position: center;
    height: 100%;
}

.wrapper {
    padding-top: 170px;
    padding-left: 4vw;
}

.wrapper h1 {
    width: 50%;
    text-align: left;
    font-size: 62px;
    font-family: 'Archivo Black', sans-serif;
    text-shadow: -4px 4px #fff;
}

.btn-signup {
    background-color: #ff3f9b;
    color: #fff;
    font-family: 'Archivo Black', sans-serif;
    font-size: 20px;
    margin-top: 20px;
    padding: 10px;
    width: 25%;
}

.btn-signup:hover {
    box-shadow: -5px 5px #fff;
    color: #fff;
}